<div class="header">
    <app-header></app-header>
</div>
<div class="body">
    <!-- <app-tile [tileMessage]= homeData></app-tile> -->
     <div class="homeData" >
        <mat-card class="wordCard">
            <img mat-card-image
             *ngIf="imageUrl"  src="{{imageUrl}}"
            alt="Daily Bible verse"
            class="tile-image"
            >
            
        </mat-card>
        
           <!-- <mat-card class="wordDevotion">
               <div class="devotion">
                   {{homeData[0].message}}
               </div>
           </mat-card> -->
     </div>
    
</div>
<div class="footer">
    <app-footer></app-footer>
</div>
