<nav class="navbar">
  <div class="container">
    <div class="logo">
      <img class="logoImage"
        src="assets/Screenshot 2025-04-07 at 12.24.50.jpg"
       
      />
    </div>
    <div class="d-flex align-items-center functions">
      <a class="col" routerLink="/home">Home</a>
      <a class="col" routerLink="/devotions">Devotions</a>
      <!-- <a class="col m-4" routerLink="/explore">Explore</a> -->
      <a class="col" routerLink="/fyi">FYI</a>
      <a class="col" routerLink="/about">About</a>
      <a *ngIf="!isLogin" class="col d-flex align-items-center signIn" routerLink="/login"
        >Log In
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          class="signInIcon"
          fontIcon="person"
        ></mat-icon>
      </a>
        <a *ngIf="isLogin" class="col d-flex align-items-center signIn" href="/home"
        >Log Out
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          class="signInIcon"
          fontIcon="person"
        ></mat-icon>
      </a>
    </div>
  </div>
</nav>
