<nav class="navbar">
  <div class="container">
    <div class="logo">
      <img src="assets/Screenshot 2025-04-07 at 12.24.50.jpg" style="height: 50px; width: 80px;"/>
    </div>
    <div class="d-flex align-items-center functions">
      <a class="col m-4" href="/home">Home</a>
      <a class="col m-4"href="/devotions">Devotions</a>
      <a class="col m-4" href="/explore">Explore</a>
      <a class="col m-4"href="/fyi">FYI</a>
      <a class="col m-4"href="/about">About</a>
      <a class="col m-4 d-flex align-items-center signIn">Sign In
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="signInIcon" fontIcon="person"></mat-icon>
      </a>
      </div>
  </div>
</nav>
