.navbar {
  background-color: white;
}
.signIn {
  cursor: pointer;
}
.signInIcon {
  display: contents;
}
.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  color: black;
  text-decoration: none;
}
.col {
  white-space: nowrap;
}
.functions {
  font-family: "src/assets/Playfair_Display/static/PlayfairDisplay-Regular.ttf";
}

.logoImage{
  height: 50px;
  width: 80px;
}
a{
  margin: 1.5rem;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 449px){

  .logoImage{
      height: 30px !important;
      width: 45px !important;
    }
    .container{
      position: relative !important;
      display: flex !important;
      justify-content: space-between !important;
      align-items: center !important;
      flex-wrap: nowrap !important;
    }
    a {
      margin: 0.5rem !important;
    }
    .signInIcon {
      font-size: medium;
  }
}