.container {
    font-family: "src/assets/Playfair_Display/static/PlayfairDisplay-Medium.ttf";
    font-size: 12px;
    color: #858585;
}
.footer{
    margin-top: 2rem;
}
.footerIcons{
    margin-top: 0.5rem;
}