<div class="header">
  <app-header></app-header>
</div>
<div class="body">
  <h2>For Your Inner Man (FYI)</h2>
  <p style="white-space: pre-line">
    As the word of God says in Colossians 2:6-7 (NLT),“And now, just as you
    accepted Christ Jesus as your Lord, you must continue to follow him. Let
    your roots grow down into him, and let your lives be built on him. Then your
    faith will grow strong in the truth you were taught, and you will overflow
    with thankfulness.” FYI application is dedicated to sharing the truth that
    nurtures and strengthens the inner self with the word of God. Here, you’ll
    find topics that resonate with different phases of life that everyone
    experiences, biblical messages or sermons from different servants of God to
    keep you rooted in Christ. Also, various devotions/ bible study materials to
    learn more about God and His might. Please feel free to contact us through
    email,  "foryourinnerman[at]gmail.com"for any prayer requests or
    testimonies. God Bless You!
  </p>
</div>
