.footer{
    margin-top: auto;
    justify-self: inherit;
}
.body{
    min-height: 76vh;
}
.devotion{
    font-size: 26px;
  font-family: "src/assets/Handlee/Handlee-Regular.ttf";
  justify-content: space-around;
  text-align: center;
  height:132px;
  width:280px;
}
.devotionCard{
    margin: 2rem;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    margin: 2rem;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 449px) {
    .card{
        margin: 1rem;
    }
  
    .devotion{
        font-size: 12px;
        height:66px;
        width:88px;
    }

}