.footer{
    margin-top: auto;
    justify-self: inherit;
}
.body{
    min-height: 76vh;
}
.devotion{
    font-size: 26px;
  font-family: "src/assets/Handlee/Handlee-Regular.ttf";
  justify-content: space-around;
  text-align: center;
  height:132px;
  width:280px;
}
.devotionCard{
    margin-top: 2rem;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 2rem;
}