<div class="group">
  <div *ngFor="let data of tileMessage">
    <mat-card 
      class="example-card"
      style="height: {{ data.height }}; width:{{ data.width }}"
    >
      <img
        *ngIf="data.image"
        mat-card-image
        src="{{ data.image }}"
        alt="Daily Bible verse"
        class="tile-image"
        style="height: {{ data.imgHeight }}; width:{{ data.imgWidth }} ; margin-top: {{
          data.marginTop
        }}"
      />
      <div 
        class="message"
        style="text-align: {{ data.textAlign }}; margin: {{
          data.marginTop
        }}"
        
      >
       <button style="background: none; border: none;"  type="button" (click)="openContent(data)">
         {{ data.message }} 
       </button> 
      </div>
      <div
        class="author"
        style="text-align: {{ data.textAlign }}; margin-left: {{
          data.marginTop
        }}"
      >
        {{ data.author }}
      </div>
    </mat-card>
  
  </div>
</div>
