.example-card {
  // height: 500px;
  // width: 600px;
  margin-left: 3rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.tile-image {
  height: inherit;
  width: inherit;
}
.group {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.mat-mdc-card {
  box-shadow: none;
  border-radius: 10px;
}
.message {
  font-size: 26px;
  font-family: "src/assets/Handlee/Handlee-Regular.ttf";
}
