.footer{
    margin-top: auto;
    justify-self: inherit;
}
.body{
    min-height: 76vh;
    margin: 1rem;
}
.content {
    margin: 1rem;
}
.innerBody{
    margin: 1rem;
}
pre {
    overflow: auto !important;
    text-wrap-mode: wrap !important;
}