/* You can add global styles to this file, and also import other style files */
body {
    background-color: #FAF7F0 !important;
    margin: 0px;
    font-size: medium;
    // font-family: 'Times New Roman', Times, serif;
}