.search {
    width: 25rem;
    margin: 2rem 0 0 6.5rem;
    font-family: "src/assets/Playfair_Display/static/PlayfairDisplay-Regular.ttf";
    border-radius: 4px;
}
.icon {
    width: 1.5rem;
    position: absolute;
    margin-left: 22.5rem !important;
    margin-top: 0.4rem;
}

@media only screen and (device-width: 430px) {
    .icon {
        margin-left: 13.5rem !important;
    }
    .search {
        width: 16rem;
        margin: 2rem 0 0 2rem;
    }
   

}